@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$background-dark: #1a1a1a;
$white: #ffffff;
$purple-light: #9d79a5;
$purple-medium: #81638b;
$purple-dark: #ba8cd7;
$blue-light: #9ce0db;
$blue-medium: #5dc1b9;
$accent-color: #9ce0db;
$font-roboto: 'Roboto', serif;
$font-roboto-slab: 'Roboto Slab', serif;
$font-raleway: 'Raleway', sans-serif;